 :root {
    --color-primary:  #2E5F94;
    --color-primary-light:  #4A76A7;
    --color-secondary:  #7E9CB8;

    --color-surface:  #B4C4CF;
    --color-muted:  #91A8B0;
    --color-text:  #6E8091;
}
