<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="users-list">
    @for (user of users; track trackById) {
      <ion-item class="row" lines="none">
        <div class="avatar" aria-hidden="true">
          <img [src]="user.photoUrl" [alt]="user.name" loading="lazy" />
        </div>

        <ion-label class="text">
          <div class="name">{{ user.name }}</div>
          <div class="email">{{ user.email }}</div>
        </ion-label>

        <ion-icon slot="end" name="chevron-forward-outline" aria-hidden="true"></ion-icon>
      </ion-item>
    }
  </ion-list>
</ion-content>
