<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="users-list" lines="none">
    @for (user of users; track trackByUserId) {
      <ion-item class="users-list__item" button detail="false">
        <div class="users-list__avatar" aria-hidden="true">
          <img [src]="user.photoUrl" [alt]="user.name" loading="lazy" />
        </div>

        <ion-label class="users-list__label">
          <div class="users-list__name">{{ user.name }}</div>
          <div class="users-list__email">{{ user.email }}</div>
        </ion-label>

        <ion-icon slot="end" name="chevron-forward-outline" aria-hidden="true"></ion-icon>
      </ion-item>
    }
  </ion-list>
</ion-content>
