<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        type="email"
        inputmode="email"
        autocomplete="email"
        formControlName="email"
      ></ion-input>
    </ion-item>

    @if (email?.touched && email?.invalid) {
      <ion-text color="danger" class="error-text">
        @if (email?.errors?.['required']) {
          <p>Email is required.</p>
        }
        @if (email?.errors?.['email']) {
          <p>Enter a valid email address.</p>
        }
      </ion-text>
    }

    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="stacked"
        type="password"
        autocomplete="current-password"
        formControlName="password"
      ></ion-input>
    </ion-item>

    @if (password?.touched && password?.invalid) {
      <ion-text color="danger" class="error-text">
        @if (password?.errors?.['required']) {
          <p>Password is required.</p>
        }
      </ion-text>
    }

    <ion-button
      type="submit"
      expand="block"
      class="ion-margin-top"
      [disabled]="form.invalid"
    >
      Sign in
    </ion-button>
  </form>
</ion-content>
