<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="products-list" lines="none">
    @for (product of products; track trackById($index, product)) {
      <ion-item class="product-item" button detail="false">
        <div class="thumb" aria-hidden="true">
          <img [src]="product.imageUrl" [alt]="product.name" loading="lazy" />
        </div>

        <ion-label>
          <div class="name">{{ product.name }}</div>
          <div class="meta">
            <span class="description">{{ product.description }}</span>
            <span class="price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</span>
          </div>
        </ion-label>

        <ion-icon slot="end" name="chevron-forward-outline" aria-hidden="true"></ion-icon>
      </ion-item>
    }
  </ion-list>
</ion-content>
